<nav class="navbar navbar-inverse navbar-fixed-top bg-inverse">
    <div class="inline">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="/home">[DAD] Sueca</a>
            <p class="navbar-text" *ngIf="auth.isLogged()">Welcome, <a routerLink="/users/" +auth.getCurrentUser()._id>
                {{ auth.getCurrentUser().username }}</a></p>
        </div>
        <div class="navbar-right">
            <ul class="navbar-nav">

                <li *ngIf="!auth.isLogged()">
                    <a class="nav-link" routerLink="/login">Login</a>
                </li>

                <li *ngIf="!auth.isLogged()">
                    <a class="nav-link" routerLink="/register">Register</a>
                </li>

                <li *ngIf="auth.isLogged()">
                    <a class="nav-link" routerLink="/home" (click)="logout()">logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--
<nav class="navbar navbar-inverse bg-inverse">

    <ul class="nav navbar-nav">

        <li *ngIf="!auth.isLogged()" class="nav-item">
            <a class="nav-link" routerLink="/login" *ngIf="!auth.isLogged()">Login</a>
        </li>

        <li *ngIf="!auth.isLogged()" class="nav-item">
            <a class="nav-link" routerLink="/register">Register</a>
        </li>

        <li *ngIf="auth.isLogged()" class="nav-item">
            <a class="nav-link" routerLink="/home" (click)="logout()">logout</a>
        </li>
    </ul>
</nav>-->

<router-outlet></router-outlet>