<nav class="navbar navbar-inverse bg-inverse">
    <a class="navbar-brand " routerLink="/home">[DAD] Sueca</a>
    <ul class="nav navbar-nav navbar"  *ngIf="auth.isLogged()">
        <a class="navbar-brand"> Welcome, {{ auth.getCurrentUser().username }}</a>
    </ul>

    <ul class="nav navbar-nav navbar-right">

        <li *ngIf="!auth.isLogged()" class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
        </li>

        <li *ngIf="!auth.isLogged()" class="nav-item">
            <a class="nav-link" routerLink="/register">Register</a>
        </li>

        <li *ngIf="auth.isLogged()" class="nav-item">
            <a class="nav-link" routerLink="/home" (click)="logout()">logout</a>
        </li>
    </ul>
</nav>

<router-outlet></router-outlet>