<h1>Lobby</h1>
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Your Games</h3>
	</div>
	<table class="table table-hover" id="dev-table">
		<thead>
			<tr>
				<th>Game ID</th>
				<th>Number of Players</th>
				<th>Actions</th>
				<th>Start Game</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>New Game</td>
				<td>--</td>
				<td><button class="btn btn-success" (click)="createGame()">Create</button></td>

			</tr>
			<tr *ngFor="let item of myGames; let i = index">
				<td>{{item._id}}</td>
				<td>{{item.nplayers}}</td>
				<td><button class="btn btn-danger" (click)="deleteGame(i)">Delete</button></td>
				<td><button class="btn btn-success" type="button"  [disabled]="item.players.length!=4" (click)="startGame(i)">Start</button></td>
			</tr>
		</tbody>
	</table>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Other Games</h3>
	</div>
	<table class="table table-hover" id="dev-table">
		<thead>
			<tr>
				<th>Game ID</th>
				<th>Player Owner</th>
				<th>Number of players</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item of otherGames; let i = index">
				<td>{{item._id}}</td>
				<td>{{item.UsernameOwner}}</td>
				<td>{{item.nplayers}}</td>
				<td><button class="btn btn-warning" (click)="joinGame(i)">Join</button></td>
			</tr>
		</tbody>
	</table>
</div>