<div class="container">
    <div class="row">
            <h1>Room {{ room }}</h1>
            <h2 style="color:red">{{this.error}}</h2>
            <button style="float: right;" class="btn btn-sm btn-default" (click)="gotoLobby()">Back to Lobby</button>
    </div>


    <!--
        baralha-se

        ultima carta do array vai ser o trunfo

        joga a pessoa que esta ao lado esquerdo da pessoa que deu joga

        if is my turn jogo carta

        joga a pessoa que esta ao lado esquerdo que fez a ultima jogada

        ao fim das 4 jogarem guarda-se no historico e no array de quem ganhou a ronda

        trunfo ganha a jogada a nao sei que aja uma com mais pontos ou com maior numero caso sejam de 0 pontos

        guardar o historico das jogadas num array para caso seja permido o botao renuncia

        cada ronda ganha guarda-se as cartas num array para contar no final
    !-->
    <div class="row">
        <div class="col-md-3">
            <img class="trunfo centrar" src="{{this.suitImg}}">
            <p style="text-align: center">Trunfo: {{this.suitName}}</p>
        </div>
        <div class="baralho col-md-9">
            <div class="">
                <p style="text-align:center">{{this.jogadores[0]}}</p>
                <img src="../../img/cards/semFace.png" class="cartasMesa centrar" id="{{this.jogadores[0]}}">
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p> {{this.jogadores[3]}}</p>
                    <img src="../../img/cards/semFace.png" class="cartasMesa2" id="{{this.jogadores[3]}}">
                </div>
                <div class="col-md-6">
                    <p style="text-align:right">{{this.jogadores[1]}} </p>
                    <img src="../../img/cards/semFace.png" class="cartasMesa2 alignRight" id="{{this.jogadores[1]}}">
                </div>
            </div>

            <div style="clear: both"></div>

            <div class=""><p style="text-align:center">{{this.jogadores[2]}}</p>
                <img src="../../img/cards/semFace.png" class="cartasMesa centrar" id="{{this.jogadores[2]}}">
            </div>
        </div>
    </div>

    <hr>

    <div>
        <div *ngFor="let card of baralhoJogadores"> <!-- Baralho do Jogador!-->
            <a (click)="getCardBaralho(card)"><img class="cartas alignLeft effect" src="{{card._img}}"></a>
        </div>
    </div>


    <div style="clear: both"></div>

    <hr>

    <chat-room></chat-room>

</div>