.cartas{
    width: 10%;
}

.cartasMesa{
    width: 15%;
}

.cartasMesa2{
    width: 32%;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    padding: 20px;
}

.alignLeft {
    float: left;
}
.alignRight {
    float: right;
}
.alignUp {
    vertical-align: text-top;
}

.alignDown {
    vertical-align: text-top;
}

.baralho{
    width: 50%;
    height: 50%;
    border: 1px solid black;
    margin-right: auto;
    margin-left: auto;
}

.centrar{

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.imgRight{
    display: block;
    text-align: right;
}

.imgLeft{
    display: block;
    text-align: left;
}

.jogardor1{
    float: left;
}
.jogardor2{
    float: right;
}

.effect:hover{
    border: 2px solid black;
}