<div class="container">
    <div class="row">
            <h1>Room: {{ room }}</h1>
            <h2 style="color:red">{{this.error}}</h2>
            <button style="float: right;" class="btn btn-sm btn-default" (click)="gotoLobby()">Back to Lobby</button>
    </div>

    <div class="row">
        <div class="col-md-3">
            <img class="trunfo centrar" src="{{this.suitImg}}">
            <p style="text-align: center">Trunfo: {{this.suitName}}</p>
            <br>
            <div>
                <button (click)="renuncia(this.jogadores[0], this.user)" class="btn btn-warning">Renuncia de: {{this.jogadores[0]}}</button>
                <button (click)="renuncia(this.jogadores[1], this.user)" class="btn btn-warning">Renuncia de: {{this.jogadores[1]}}</button>
                <button (click)="renuncia(this.jogadores[2], this.user)" class="btn btn-warning">Renuncia de: {{this.jogadores[2]}}</button>
                <button (click)="renuncia(this.jogadores[3], this.user)" class="btn btn-warning">Renuncia de: {{this.jogadores[3]}}</button>
            </div>
        </div>
        <div class="baralho col-md-9" style="background-color: green">
            <div class="">
                <p style="text-align:center;" ><img src="{{this.jogPics[0]}}" width="4%"> <strong id="{{this.jogadores[0]}}sep">{{this.jogadores[0]}}</strong></p>
                <img src="../../img/cards/semFace.png" class="cartasMesa centrar" id="{{this.jogadores[0]}}">
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p><img src="{{this.jogPics[3]}}" width="8%"> <strong id="{{this.jogadores[3]}}sep">{{this.jogadores[3]}}</strong></p>
                    <img src="../../img/cards/semFace.png" class="cartasMesa2" id="{{this.jogadores[3]}}">
                </div>
                <div class="col-md-6">
                    <p style="text-align:right; color: black;" ><img src="{{this.jogPics[1]}}" width="8%">
                        <strong id="{{this.jogadores[1]}}sep">{{this.jogadores[1]}}</strong> </p>
                    <img src="../../img/cards/semFace.png" class="cartasMesa2 alignRight" id="{{this.jogadores[1]}}">
                </div>
            </div>

            <div style="clear: both"></div>

            <div class="">
                <p style="text-align:center; color: black;"><img src="{{this.jogPics[2]}}" width="4%"> <strong id="{{this.jogadores[2]}}sep">{{this.jogadores[2]}}</strong></p>
                <img src="../../img/cards/semFace.png" class="cartasMesa centrar" id="{{this.jogadores[2]}}">
            </div>
        </div>
    </div>
    <hr>

    <div>
        <div *ngFor="let card of baralhoJogadores"> <!-- Baralho do Jogador!-->
            <a (click)="getCardBaralho(card)"><img class="cartas alignLeft effect" src="{{card._img}}"></a>
        </div>
    </div>


    <div style="clear: both"></div>

    <hr>

    <chat-room></chat-room>

</div>