<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{{type}} Chat</h3>
    </div>
    <div>
        <div id="chat" class="message-list">
            <p *ngFor="let m of arrAux;" style="word-break: break-all"> <img width="5%" src="{{m.image}}"> <strong> {{ m.message.chat }} </strong> {{m.message.date}} </p>
        </div>
        <hr/>
        <form class="form-inline" style="margin: 0% 1% 1%;" [formGroup]="chatForm">
            <input type="text" class="form-control" id="chat-message" style="width: 90%;"
                   [formControl]="chatForm.controls['message']">
            <button class="btn btn-default" type="submit" [disabled]="!chatForm.valid || chatForm.controls['message'].value == ''" (click)="sendMessage()">Send</button>
        </form>
    </div>
</div>