<hr>

<!-- Social authentication -->
<div class="row">
    <div class="col-md-4">
        <a class="btn btn-block btn-social btn-facebook" style="text-align: center" href="http://localhost:7777/api/v1/auth/facebook">
            <span class="fa fa-facebook"></span> Facebook
        </a>
    </div>
    <div class="col-md-4">
        <a class="btn btn-block btn-social btn-google" style="text-align: center" href="http://localhost:7777/api/v1/auth/google">
            <span class="fa fa-google"></span> Google
        </a>
    </div>
    <div class="col-md-4">
        <a class="btn btn-block btn-social btn-github" style="text-align: center" href="http://localhost:7777/api/v1/auth/github">
            <span class="fa fa-github"></span> GitHub
        </a>
    </div>
</div>

<hr>