<hr>

<!-- Social authentication -->
<div class="row">
    <div class="col-md-4">
        <a class="btn btn-block btn-social btn-facebook" style="text-align: center"(click)="facebook()">
            <span class="fa fa-facebook"></span> Facebook
        </a>
    </div>
    <div class="col-md-4">
        <a class="btn btn-block btn-social btn-google" style="text-align: center" (click)="google()">
            <span class="fa fa-google"></span> Google
        </a>
    </div>
    <div class="col-md-4">
        <a class="btn btn-block btn-social btn-twitter" style="text-align: center" (click)="twitter()">
            <span class="fa fa-twitter"></span> Twitter
        </a>
    </div>
</div>

<hr>