<div class="container">
    <h1 style="margin-left: 20%; margin-right: 20%;" class="text-center">Welcome to [DAD] Sueca Game</h1>

    <form class="form-horizontal form-login jumbotron" style="margin-left: 20%; margin-right: 20%;"
          #loginForm="ngForm" (ngSubmit)="login()" method="POST">
        <div id="legend">
            <legend><strong>Login</strong></legend>
        </div>
        <br/>
        <div class="form-group">
            <!-- Username -->
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="username" class="form-control"
                   [(ngModel)]="_username"
                   #username="ngModel">
        </div>

        <div class="form-group">
            <!-- Password-->
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="password" class="form-control"
                   [(ngModel)]="_password"
                   #password="ngModel">
        </div>

        <div class="form-group">
            <!-- Button Login -->
            <button class="btn btn-success" type="submit">Login</button>
        </div>
    </form>
</div>