<div class="container">
    <h1 style="margin-left: 20%; margin-right: 20%;" class="text-center">Welcome to [DAD] Sueca Game</h1>

    <form class="form-horizontal form-register jumbotron" style="margin-left: 20%; margin-right: 20%;"
          [formGroup]="registerForm" (ngSubmit)="register()" method="POST">
        <div id="legend">
            <legend><strong>Register</strong></legend>
        </div>
        <social></social>
        <div class="form-group">
            <!-- Username -->
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="username" class="form-control"
                   [(ngModel)]="_user.username"
                   [formControl]="registerForm.controls['username']">
            <p class="help-block alert-danger"
               *ngIf="registerForm.controls['username'].hasError('required') && registerForm.controls['username'].touched">
                You must provide an username</p>
            <p class="help-block alert-danger"
               *ngIf="registerForm.controls['username'].hasError('pattern') && registerForm.controls['username'].touched">
                Username can only contain letters or numbers, without spaces</p>
            <p *ngIf="registerForm.controls['username'].hasError('minlength') && registerForm.controls['username'].touched"
               class="alert alert-danger">Provided username must have at least 3 characters.</p>
            <p *ngIf="registerForm.controls['username'].hasError('maxlength') && registerForm.controls['username'].touched"
               class="alert alert-danger">Provided username cannot exceed 50 characters.</p>
            <p *ngIf="registerForm.controls['username'].hasError('taken') && registerForm.controls['username'].touched"
               class="alert alert-danger">Username already taken.</p>
            <p class="help-block alert-danger"
               *ngIf="(usernameTaken && _formSubmitted)">Username is already taken</p>
        </div>

        <div class="form-group">
            <!-- E-mail -->
            <label for="email">E-mail</label>
            <input type="text" id="email" name="email" placeholder="email" class="form-control"
                   [(ngModel)]="_user.email"
                   [formControl]="registerForm.controls['email']">
            <p class="help-block alert-danger"
               *ngIf="registerForm.controls['email'].hasError('required') && registerForm.controls['username'].touched">
                Please provide your email</p>
            <p class="help-block alert-danger"
               *ngIf="registerForm.controls['email'].hasError('pattern') && registerForm.controls['username'].touched">
                Please provide a valid email</p>

        </div>

        <div class="form-group">
            <!-- Password-->
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="password" class="form-control"
                   [(ngModel)]="_user.password"
                   [formControl]="registerForm.controls['password']">
            <p class="help-block alert-danger"
               *ngIf="registerForm.controls['password'].hasError('required') && registerForm.controls['password'].touched">
                You must provide a password</p>
            <p class="help-block alert-danger"
               *ngIf="registerForm.controls['password'].hasError('minlength') && registerForm.controls['password'].touched">
                Password should have at least 3
                characters.</p>
            <p class="help-block alert-danger"
               *ngIf="registerForm.controls['password'].hasError('maxlength') && registerForm.controls['password'].touched">
                Password should not exceed 50
                characters.</p>
        </div>

        <div class="form-group">
            <!-- Password -->
            <label for="passwordConfirmation">Password (Confirm)</label>
            <input type="password" id="passwordConfirmation" name="passwordConfirmation"
                   placeholder="password confirmation"
                   class="form-control" [(ngModel)]="_user.passwordConfirmation"
                   [formControl]="registerForm.controls['passwordConfirmation']">
            <p class="help-block alert-danger"
               *ngIf="registerForm.controls['passwordConfirmation'].hasError('required') && registerForm.controls['passwordConfirmation'].touched">
                Please confirm your password.</p>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <p *ngIf="error" class="help-block alert-danger">{{errorMessage}}
                </p>
            </div>
        </div>

        <div class="form-group">
            <button [disabled]="!registerForm.valid ||
                    registerForm.controls['password'].value != registerForm.controls['passwordConfirmation'].value ||
                    registerForm.controls['password'].value == '' || registerForm.controls['passwordConfirmation'].value == ''"
                    class="btn btn-success" type="submit">Register
            </button>
            <button class="btn btn-danger" type="reset" (click)="goBack()">Cancel</button>
            <button class="btn btn-default" style="float: right" type="reset" (click)="registerForm.reset()">Reset
            </button>
        </div>
    </form>
</div>